<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pocket-term.terminal</string>
    <key>ProgramArguments</key>
    <array>
        <string>__LAUNCH_SCRIPT__</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>3</integer>
    <key>StandardOutPath</key>
    <string>__PREFIX__/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__PREFIX__/stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>__HOME__</string>
        <key>PATH</key>
        <string>__PATH__</string>
        <key>LANG</key>
        <string>C.UTF-8</string>
    </dict>
</dict>
</plist>
